---



- name: install python-pip
  ansible.builtin.apt:
    name: python3-pip
    update_cache: yes


- name: Install Python Libraries
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
     - requests
     - flask
